{{ define "seoRobots" }}
    <meta name="robots" content="noindex">
{{ end }}

{{ define "main" }}

<div class="container grid-body flex flex-col gap-4">
    <nav class="mt-12">
        <a class="link" href="/">Retour à l'accueil</a>
    </nav>

    <h1 class="text-h1 mt-12">Mentions légales</h1>
    
    <h2 class="text-h3 mt-8 text-gold-normal">Propriétaire du site</h2>
    <p>Rachel Bourgeois</p>

    <h2 class="text-h3 mt-8 text-gold-normal">Entreprise</h2>
    <p>Rachel Bourgeois</p>
    <p>489 Avenue du Maréchal de Lattre de Tassigny</p>
    <p>33200 BORDEAUX</p>
    <p>SIRENE 539219816</p>

    <h2 class="text-h3 mt-8 text-gold-normal">Réalisation</h2>
    <p><a href="https://arthaudproust.fr/" class="link link-visible">Arthaud Proust</a></p>

    <h2 class="text-h3 mt-8 text-gold-normal">Hébergement</h2>
    <p><a href="https://www.netlify.com/" class="link link-visible">Société Netlify</a></p>
    <p>support@netlify.com</p>

</div>

{{ end }}